@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eff;
}
.container {
    height: 60vh;
    background: url('../images/bg1.png');
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    margin: 0;
    display: flex;
    list-style-type: none;
}

ul li {
    padding: 20px;
}

ul li a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover {
    text-decoration: underline;
}
.welcome {
    width: 80%;
    margin: auto;
    text-align: center;
    color:#fff;
    font-family: 'Marck Script', cursive;
    font-size: 43px;
    letter-spacing: 10px;
}
.welcome button {
    width: 200px;
    padding: 15px;
    border:none;
    cursor: pointer;
    background: rgb(49, 209, 63);
    color:#fff;
    font-size: 15px;
    border-radius: 40px;
    outline: none;
}

.tech {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 80%;
    text-align: center;
}
.code {
    background: url('../images/c++.png');
    height: 40vh;
    background: cover;
    background-position: center;
}

img {
    width: 200px;
    height: 200px;
    border:3px solid green;
    padding: 10px;
    border-radius: 50%;
}
footer {
    padding: 30px;
    background: url('../images/bg1.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color:#fff;
}